.neonText {
  animation: flicker 1.5s infinite alternate
  color: #bafaff;
   text-shadow:
      0 0 4px #bafaff,
      0 0 11px #bafaff,
      0 0 19px #bafaff,
      0 0 40px #5271ff,
      0 0 80px #5271ff,
      0 0 90px #5271ff,
      0 0 100px #5271ff,
      0 0 150px #5271ff;
}

.neonText1 {
    color: #bafaff;
    text-shadow:
      0 0 4px #bafaff,
      0 0 11px #bafaff,
      0 0 19px #bafaff,
      0 0 40px #5271ff,
      0 0 80px #5271ff,
      0 0 90px #5271ff,
      0 0 100px #5271ff,
      0 0 150px #5271ff;
}

body {
  font-size: 18px;
  font-family: "Sacramento", sans-serif;
  background-color: #010a01;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  text-align: center;
  font-size: 4.2rem;
  animation: flicker 1.5s infinite alternate;
}

/* Flickering animation */
@keyframes flicker {

  0%, 18%, 22%, 25%, 53%, 57%, 100% {

     text-shadow:
      0 0 4px #bafaff,
      0 0 11px #bafaff,
      0 0 19px #bafaff,
      0 0 40px #5271ff,
      0 0 80px #5271ff,
      0 0 90px #5271ff,
      0 0 100px #5271ff,
      0 0 150px #5271ff;

  }

  20%, 24%, 55% {
      text-shadow: none;
  }
}

h3 {
  font-size: 6.2rem;
  animation: pulsate 1.5s infinite alternate;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #5271ff,
            0 0 0.8rem #5271ff,
            0 0 2.8rem #5271ff,
            inset 0 0 1.3rem #5271ff;
}

@keyframes pulsate {

  100% {

      text-shadow:
      0 0 4px #bafaff,
      0 0 11px #bafaff,
      0 0 19px #bafaff,
      0 0 40px #5271ff,
      0 0 80px #5271ff,
      0 0 90px #5271ff,
      0 0 100px #5271ff,
      0 0 150px #5271ff;

  }

  0% {

    text-shadow:
    0 0 4px #bafaff,
    0 0 10px #bafaff,
    0 0 18px #bafaff,
    0 0 38px #5271ff,
    0 0 73px #5271ff,
    0 0 80px #5271ff,
    0 0 94px #5271ff,
    0 0 140px #5271ff;

}