{% extends 'base.html' %}

{% block content %}
  <!-- класс py-5 создает отступы сверху и снизу блока -->
  <div class="container py-5">
  <article>
    <p> {{group.title}} </p>
    {% if posts %}
      {% for post in posts %}
        <ul>
          <li>
            Автор: {{ post.author.get_full_name }}
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>
        <p>{{ post.text }}</p>
        <p style="background: lightskyblue; color: rgb(0, 0, 255)"><b>"{{ post.poem }}"</b></p>
        <hr>
      {% endfor %}
    </article>
    <!-- под последним постом нет линии -->
    <a class="navbar-brand" href="{% url 'posts:index' %}">Posts</a>
    {% endif %}
  </div>
{% endblock %}     