{% extends 'base.html' %}
 {% block title %}
    <title>
            {% if text == 'Главная Страница' %}
                   Вы на главной странице.
            {% elif text == 'Вложенная страница' %}
                   Вы в одном клике от главной страницы!
            {% else %}
                   Мы понятия не имеем, где вы!
            {% endif %}
    </title>
 {% endblock %}

 {% block content %}
      <div class="container py-5">
        <h1>Последние обновления на сайте</h1>

        <!-- под последним постом нет линии -->


<style>
  b {color:red}

</style>


      {% for i in names %}
      {% if forloop.first %}
        <p>Начало цикла</p>
      {% endif %}
   <b> <ul> <li>{{ i }}</li> </ul> </b>
      {# forloop хранит счётчик цикла и может определять разные состояния счётчика #}
      {% if forloop.last %}
        <p>Конец цикла</p>
      {% endif %}
      {% empty %}
      <p>Если цикл пуст</p>
      {% endfor %}

      </div>
  {% endblock %}
