<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tortuga</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
    crossorigin="anonymous">


</head>
<body>
 <div>
  <h5>Аксентий Поприщин</h5>
  <div>
    <h6>43 апреля 2000 года</h6>
    <p>
      Сегодняшний день — есть день величайшего торжества!
      В Испании есть король. Он отыскался. Этот король я.
      Именно только сегодня об этом узнал я.
    </p>
    <a href="">Читать целиком</a>
  </div>
 </div>

</body>
</html>